.nv
.env
yarn.lock
node_modules
front/dist
e2e/output
stats.html
*.db
storage
backups
kubeconfig
package-deps.json
front/components.d.ts
build-stats
dist
*.iml
.vscode
.history
.idea
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local