@import "loading";
@import "layout";
@import "form";
@import "navbar";
@import "table";

.dropdown-menu {
  background: $card-color;
  border: $card-border;
  box-shadow: $card-shadow;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.navbar-dropdown {
  width: 100vw;
  max-width: 10em;
}
.dropdown-item {
  padding: 10px;
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}


.editable-picture-holder {
  position: relative;
  & > .button {
    width: 100%;
    & > span {
      flex-grow: 0;
    }
  }
  .editable-picture-click-catcher {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}


.user-about-text {
  p {
    margin-top: 0.23em;
    margin-bottom: 0.23em;
    min-height: 1em;
  }
}


.comment-form > form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  .input {
    margin-left: 4px;
    flex-grow: 1;
    align-items: flex-start;
    min-height: 40px;
    box-sizing: border-box;
    height: auto;
    padding-right: 25px; // to przez ten przycisk obrazka, do wywalenia przy rozbudowaniu komentarzy
    p {
      margin-top: 0.23em;
      margin-bottom: 0.23em;
      min-height: 1em;
      word-break: break-word;
    }
    p.is-empty:first-child::before {
      content: attr(data-empty-text);
      float: left;
      color: #aaa;
      pointer-events: none;
      height: 0;
      font-style: italic;
    }
    .ProseMirror {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .ProseMirror:focus {
      outline: none
    }
  }
  .button {
    height: 40px;
    margin-left: 4px;
  }
  .comment-avatar {
    height: 40px;
  }
  .comment-picture-button-holder {
    position: relative;
    width: 0;
    & > span.file-input {
      position: absolute;
      right: 2px;
      top: 2px;
    }
  }
}

article.comment {
  display: flex;
  flex-direction: row;
  .comment-avatar {
    height: 40px;
    margin-right: 4px;
  }
  .comment-column {
    flex-grow: 1;
  }
  time {
    @include time;
  }
  .author {
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: none;
    color: black;
    transition: color 0.23s;
    &:hover {
      color: rgba(0,0,0,0.7);
    }
  }
  .comment-actions {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  margin-bottom: 10px;
  .comment-action {
    display: inline-block;
    border: none;
    background: none;
    font-size: 0.9em;
    font-weight: bold;
    opacity: 0.7;
    cursor: pointer;
    & > img {
      height: 1em;
    }
  }
}

.blog-top-stories {
  margin-bottom: 10px;
  .blog-top-stories-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    .blog-story-wrapper {
      padding: 0;
      flex: 1;
      flex-grow: 1;
      time {
        @include time;
      }
      display: flex;
      flex-direction: column;
      & > div {
        display: flex;
        flex-grow: 1;
      }
    }
    .blog-story-wrapper + .blog-story-wrapper {
      margin-left: 4px;
    }
    .blog-story {
      cursor: pointer;
      flex-grow: 1;
      position: relative;
      .blog-story-cover {
        position: absolute;
        width: 100%;
        height: 100%;
      }
      display: flex;
      flex-direction: column-reverse;
      min-height: 20vh;
      .blog-story-description {
        padding-top: 3vh;
        z-index: 1;
        background: linear-gradient(to top, rgba(255,255,255,0.8), rgba(255,255,255,0.5) 40%, rgba(255,255,255,0.0) );
        .blog-category-label-link {
          background: white;
          padding: 4px;
          text-decoration: none;
          color: rgba(0,0,0, 0.7);
          font-weight: bold;
          font-size: 0.8em;
          margin: 10px;
        }
        .blog-story-title {
          display: block;
          font-weight: bold;
          padding: 4px;
          text-decoration: none;
          color: black;
          margin: 0;
          margin-top: 6px;
          margin-left: 10px;
          margin-right: 10px;
          font-size: 1.32em;
          text-shadow: 0 0 2px rgba(255,255,255,0.5);
        }
        .blog-story-metadata {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          justify-content: flex-start;
          & > div,  time {
            padding-left: 1em;
            padding-right: 0.5em;
          }
          .blog-author-link {
            color:  rgba(0,0,0, 0.7);;
            text-decoration: none;
          }
        }
      }
    }

  }
}

