body {
  background: $background-color;
}

.page {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  & > header{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: auto;
  }
  & > .content-container {
    position: absolute;
    left: 0;
    top: $navbar-height;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: $main-margin auto;

    footer {
      flex-grow: 0;
      width: 100%;
      flex-direction: row;
      align-items: center;
      padding-left: 15px;
      border-top: 1px solid #555555;
      padding-right: 15px;
      margin: 0px auto 32px;
      box-sizing: border-box;
    }

    & > .page-over-footer {
      display: block;
      width: 100%;
      flex-grow: 1;
    }

    .page-row {
      max-width: $main-width;
      width: 100%;
      display: flex;
      margin: 0 auto;

      @media (max-width: $mobile-breaking-point) {
        flex-wrap: wrap;
      }

      & > main {
        display: flex;
        flex-grow: 1;

        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
      & > aside {
        width: $aside-width;
        flex-shrink: 0;
      }
      & > aside + main {
        margin-left: $aside-margin;
      }
      & > main + aside {
        margin-left: $aside-margin;
      }
    }

  }

  .version-alert-bar {
    display: block;
    position: fixed;
    top: 42px;
    background: #fde09a;
    border: 1px solid #ffc085;
    width: auto;
    box-sizing: border-box;
    padding: 6px 15px;
    text-align: center;
    left: 10px;
    right: 10px;
    box-shadow: 0px 2px 2px #e67000bd;
    z-index: 10;
    font-size: 1.23em;
    cursor: pointer;
  }

}

.overlay-layer {
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  overflow: visible;
  z-index: 10000; // Bigger is better
}

.overlay-anchor {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
}

section + section {
  margin-top: 0.7em;
}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  $half-width: $main-width / 2;
  .half-width {
    @media(min-width: $half-width + 50px) {
      min-width: calc(#{$half-width} - 0.8em);
    }
  }

  section {
    margin-top: 0.7em;
  }
  section + section {
    margin-left: 0.7em;
  }
}


@mixin card {
  background: $card-color;
  border: $card-border;
  box-shadow: $card-shadow;
  padding: $card-padding;
  box-sizing: border-box;
}

.card {
  @include card;
}

.full-width {
  max-width: $main-width;
  width: 100%;
}

.half-width {
  max-width: $main-width / 2;
  width: 100%;
}

.third-width {
  max-width: $main-width / 2;
  width: 100%;
}

.confirm-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;

  .buttons {
    flex-wrap: wrap;
    & > .button {
      margin: 4px;
      & + .button {
        margin-top: 4px;
      }
    }
  }
}

