table.table {
  width: 100%;

  th {
    font-weight: 600;
  }
  td, th {
    text-align: left;
  }
  th.numeric, td.numeric {
    text-align: right;
  }

  td.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

}